@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>Arrivals data:</p>
    @foreach(var arrival in Model.Arrivals)
    {
        <hr/>
        <div>
            <span>@arrival.stationName</span>
            <span>@arrival.lineId</span>
            <span>@arrival.expectedArrival</span>
            <span>@arrival.destinationName</span>
            

        </div>
    }
</div>
